<md-card>
  <md-card-content>

    <md-card>
      <md-card-content layout="column">
      <h3>Herren 1</h3>
         <div flex=100 layout="row" ng-repeat="p in herren1">
          <div flex=40>{{p.name}}</div>
          <div></div>
          <div flex>{{p.email}}</div>
        </div>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-content layout="column">
      <h3>Herren 2</h3>
         <div flex=100 layout="row" ng-repeat="p in herren2">
          <div flex=40>{{p.name}}</div>
          <div></div>
          <div flex>{{p.email}}</div>
        </div>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-content layout="column">
      <h3>Herren 3</h3>
         <div flex=100 layout="row" ng-repeat="p in herren3">
          <div flex=40>{{p.name}}</div>
          <div></div>
          <div flex>{{p.email}}</div>
        </div>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-content layout="column">
      <h3>Abteilungsrat</h3>
         <div flex=100 layout="row" ng-repeat="p in abteilungsrat">
          <div flex=40>{{p.name}}</div>
          <div></div>
          <div flex>{{p.email}}</div>
        </div>
      </md-card-content>
    </md-card>


  </md-card-content>
</md-card>
