
<md-card>
  <md-card-content layout="row">

    <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="home" class="md-primary">
      Nur Heimspiele
    </md-checkbox>

      <div flex></div>
      <md-button ng-click="onPdf()">PDF</md-button>
<!--
    <md-select ng-model="team" placeholder="Mannschaft">
      <md-option ng-value="t.name" ng-repeat="t in teams">{{ t.name }}</md-option>
    </md-select>
-->
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>

    <md-list>
        <md-list-item class="md-3-line" ng-repeat="spiel in spielplan | orderBy: 'date' | homeMatch : home">
          <img src="/images/sfg-logo.jpg" class="md-avatar" alt="{{item.who}}"/>
          <div class="md-list-item-text">
            <h4>{{spiel.date | date:'dd.MM.yy HH:mm'}}</h4>
            <h3>{{spiel.home.name}} {{spiel.home.number | roman}} - {{spiel.away.name}} {{spiel.away.number | roman}} {{spiel.home.points}}:{{spiel.away.points}}</h3>
            <p>{{spiel.age}}</p>
          </div>
        </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
