<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>cal</servlet-name>
        <servlet-class>de.rubbs.sfgtt.calendar.CalendarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cal</servlet-name>
        <url-pattern>/cal</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mail</servlet-name>
        <servlet-class>de.rubbs.sfgtt.MailAddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mail</servlet-name>
        <url-pattern>/api/mail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>matches</servlet-name>
        <servlet-class>de.rubbs.sfgtt.matches.MatchesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>matches</servlet-name>
        <url-pattern>/api/matches</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>HandleHerren1Mail</filter-name>
        <filter-class>de.rubbs.sfgtt.mail.HandleHerren1Mail</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HandleHerren1Mail</filter-name>
        <url-pattern>/_ah/mail/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>HandleHerren2Mail</filter-name>
        <filter-class>de.rubbs.sfgtt.mail.HandleHerren2Mail</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HandleHerren2Mail</filter-name>
        <url-pattern>/_ah/mail/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>HandleHerren3Mail</filter-name>
        <filter-class>de.rubbs.sfgtt.mail.HandleHerren3Mail</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HandleHerren3Mail</filter-name>
        <url-pattern>/_ah/mail/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>HandleAbteilungsratMail</filter-name>
        <filter-class>de.rubbs.sfgtt.mail.HandleAbteilungsratMail</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HandleAbteilungsratMail</filter-name>
        <url-pattern>/_ah/mail/*</url-pattern>
    </filter-mapping>


    <!--objectify filter-->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- xorigin filter for testing -->
    <filter>
        <filter-name>x-origin-filter</filter-name>
        <filter-class>de.rubbs.sfgtt.appengine.XOriginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>x-origin-filter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
</web-app>
